<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<link th:href="@{/vendor/fontawesome/css/all.css}" rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<script type="text/javascript" th:src="@{/js/centros.js}"></script>


<title>Nuevo Exprediente</title>
</head>


<body>

			<div class="container-fluid d-flex h-100 flex-column" >

			<div th:replace="commons/navbar :: navbar" />
					<div class="row flex-fill d-flex ">
			<div th:replace="commons/sidebarTest :: sidebar" />
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

				<div>
				<h1>Materias por Expediente</h1>
				<h2 th:text="${fullName}"></h2>
				<a th:href="@{'/coordinador/cursa/add/' + ${alumnoId}}" class="btn btn-primary my-3 px-md-5" >
								Agregar Materia
							</a>
					</div>		
				<table class="table">
					<thead>
						<th>Accion</th>
						<th>Materia</th>
						<th>Año</th>
						<th>Ciclo</th>
						<th>Nota</th>
						<th>Resultado</th>
					</thead>

					<th:block th:each="cursa, row: ${cursas}">
						<tr>
 
							<th><a th:href="@{/coordinador/cursa/edit/(materiaId=${cursa.materia.materiaId},alumnoId=${alumnoId}) }"> <i
									class="fas fa-edit fa-lg"></i>
							</a></th>

							<th th:text="${cursa.materia.nombre}" />
							<th th:text="${cursa.annio}" />
							<th th:text="${cursa.ciclo}" />
							<th th:text="${cursa.nota}" />
							<th th:text="${cursa.resultadoDelegate}" />

						</tr>
					</th:block>

				</table>
			</main>
		</div>

	</div>
</body>
</html>